[Desktop Entry]
Name=Cactus-light
X-KDE-PluginInfo-Author=Zumi Daxuya
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=daxuya.zumi+code@protonmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL v3
X-KDE-PluginInfo-Name=Cactus-light
X-KDE-PluginInfo-Version=1.0
